<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> 
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-danger mb-5">
            
            <a class="navbar-brand" href="{{ url_for('admin') }}"><img
              src="/static/public/playground_assets/mainicon.png"
              style="height:90px; width:150px;"
            /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('admin.view_party') }}">Party<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('admin.view_election_area') }}">Election Area<span class="sr-only">(current)</span></a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn-light my-2 my-sm-0" type="submit">Search</button> &nbsp;
                <a href="{{ url_for('logOut')}}" style="color:black;background-color: white;"  >
                  Logout 
                </a>
                
              </form>
            </div>
          </nav>
          <div class="container">
            <div class = "row">
                <div class='col-12 mx-auto'>
                  {% block content %} {% endblock %}
                </div>
            </div>
          </div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.6.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</html>