<html>
<head>
</head>

<body>
    <H1>Choose the district's profile you wish to edit</H1>
    <div style="text-align:center" >
        <form  action="#" method="POST">
            <label><b>Contesting Zone</b></label>
            <select name = "districtName">
                <option>Aljunied GRC</option>
                <option>Ang Mo Kio GRC</option>
                <option>Bishan-Toa Payoh GRC</option>
                <option>Bukit Batok SMC</option>
                <option>Bukit Panjang SMC</option>
                <option>Chua Chu Kang GRC</option>
                <option>East Coast GRC</option>
                <option>Holland-Bukit Timah GRC</option>
                <option>Hong Kah North SMC</option>
                <option>Hougang SMC</option>
                <option>Jalan Besar GRC</option>
                <option>Jurong GRC</option>
                <option>Kebun Baru SMC</option>
                <option>MacPherson SMC</option>
                <option>Marine Parade GRC</option>
                <option>Marsiling-Yew Tee GRC</option>
                <option>Marymount SMC</option>
                <option>Mountbatten SMC</option>
                <option>Nee Soon GRC</option>
                <option>Pasir Ris-Punggol GRC</option>
                <option>Pioneer SMC</option>
                <option>Potong Pasir SMC</option>
                <option>Punggol West SMC</option>
                <option>Radin Mas SMC</option>
                <option>Sembawang GRC</option>
                <option>Sengkang GRC</option>
                <option>Tampines GRC</option>
                <option>Tanjong Pagar GRC</option>
                <option>West Coast GRC</option>
                <option>Yio Chu Kang SMC</option>
                <option>Yuhua SMC</option>
            </select>
            <br><br>
            <button type="submit" value="submit"> Submit </button>
        </form>
    </div>
 
</body>
</html>
