<html>
<head>
    <style>
        
    </style>
    
</head>

<body>
    <div class="existing"  role = "alert ">
        {% with messages = get_flashed_messages() %} 
            
            {% for msg in messages[0] %}
                <h1>{{msg[0]}} is already created!</h1>
            {% endfor %}
        {% endwith %}
    </div>


  
    <form  action="#" method="POST" enctype="multipart/form-data">
    <div class = "Party">
        <h1>Create profile</h1>
        <p>Please fill in the form to create a profile for your party</p>

        <label><b>Party Name</b></label>
        <select name = "PartyName">
            <option>{{party}}</option>
        </select>
        <br><br>

        <label><b>Menifesto</b></label>
        <textarea placeholder ="Manifesto for frontpage" name = "PartyManifesto" required></textarea>
        <br><br>

        <label><b>Upload Party Logo</b></label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" name = "logo" value = "test1.jfif" required /><span>Upload your jpeg/jpg image. Max size 50 MB</span>

       

    </div>
    
    <button type="submit" value="submit"> Submit </button>
  </form>

</body>
</html>
