<html>
<head>
</head>

<body>
    
  <form>
    <div class = "Candidate" id = "Candidate">
        <h3>Candidate 1</h3>
        <label><b>Name</b></label>
        <input type ="text" name = "oldName[]" value="A">
        <label><b>New Name</b></label>
        <input type ="text" placeholder ="Optional" name = "newName[]" value="Valentino"><br><br>
        <label><b>NRIC</b></label>
        <input type ="text" placeholder ="S1234567Z" name = "oldNRIC[]" value = "S9845778A">
        <label><b>New NRIC</b></label>
        <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="1"><span id = "error"></span><br><br>
        <label><b>Upload New Image</b></label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
        <br><br>

        <h3>Candidate 2</h3>
        <label><b>Name</b></label>
        <input type ="text" name = "newName[]" value="B">
        <label><b>New Name</b></label>
        <input type ="text" placeholder ="Optional" name = "oldName[]" value="Erickson"><br><br>
        <label><b>NRIC</b></label>
        <input type ="text" placeholder ="S1234567Z" name = "oldNRIC[]" value = "S8876654B">
        <label><b>New NRIC</b></label>
        <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="2"><span id = "error"></span><br><br>
        <label><b>Upload New Image</b></label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
        <br><br>

        <h3>Candidate 3</h3>
        <label><b>Name</b></label>
        <input type ="text" name = "oldName[]" value="A">
        <label><b>New Name</b></label>
        <input type ="text" placeholder ="Optional" name = "newName[]" value="Messi"><br><br>
        <label><b>NRIC</b></label>
        <input type ="text" placeholder ="S1234567Z" name = "oldNRIC[]"  value = "S1837765A">
        <label><b>New NRIC</b></label>
        <input type ="text" placeholder ="Optional"  name = "newNRIC[]" id="3"><span id = "error"></span><br><br>
        <label><b>Upload New Image</b></label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
        <br><br>

        <h3>Candidate 4</h3>
        <label><b>Name</b></label>
        <input type ="text" name = "oldName[]" value="A">
        <label><b>New Name</b></label>
        <input type ="text" placeholder ="Optional" name = "newName[]" value="Fernendez"><br><br>
        <label><b>NRIC</b></label>
        <input type ="text" placeholder ="S1234567Z" name = "oldNRIC[]" value = "S9786609A">
        <label><b>New NRIC</b></label>
        <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="4"><span id = "error"></span><br><br>
        <label><b>Upload New Image</b></label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
        <br><br>

        <h3>Candidate 5</h3>
        <label><b>Name</b></label>
        <input type ="text" name = "Name[]" value="A">
        <label><b>New Name</b></label>
        <input type ="text" placeholder ="Optional" name = "Name[]" value="Neymar"><br><br>
        <label><b>NRIC</b></label>
        <input type ="text" placeholder ="S1234567Z" name = "oldNRIC[]" value = "S8655660A">
        <label><b>New NRIC</b></label>
        <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="5"><span id = "error"></span><br><br>
        <label><b>Upload New Image</b></label>
        <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
        <br><br>
    </div>
    <br><br>
    <button type="submit" value="submit"> Submit </button>  
  </form>
 







</body>
</html>
