<!DOCTYPE html>
<html lang="english">
  <head>
    <title>Update District</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <div>
      <link href="/static/styles/view-candidate-info.css" rel="stylesheet" />

      
        <div class="view-candidate-info-view-candidate-info">
          <div style="position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -50%);">
          <form  action="#" method="POST" enctype="multipart/form-data">
            <div class = "Candidate" id = "Candidate">
                {% if data|length == 1 %}
                  <h3>Candidate 1</h3>
                  <label><b>Name</b></label>
                  <input type ="text" name = "oldName[]" value="{{data[0][1]}}" readonly>
                  <label><b>New Name</b></label>
                  <input type ="text" placeholder ="Optional" name = "newName[]" ><br><br>
                  <label><b>NRIC</b></label>
                  <input type ="text" name = "oldNRIC[]" value = "{{data[0][0]}}" readonly>
                  <label><b>New NRIC</b></label>
                  <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="1"><span id = "error"></span><br><br>
                  <label><b>Upload New Image</b> (Optional)</label>
                  <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
                  <br><br>
        
                {% else %}
                <h3>Candidate 1</h3>
                <label><b>Name</b></label>
                <input type ="text" name = "oldName[]" value="{{data[0][1]}}" readonly>
                <label><b>New Name</b></label>
                <input type ="text" placeholder ="Optional" name = "newName[]" ><br><br>
                <label><b>NRIC</b></label>
                <input type ="text" name = "oldNRIC[]" value = "{{data[0][0]}}" readonly>
                <label><b>New NRIC</b></label>
                <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="1"><span id = "error"></span><br><br>
                <label><b>Upload New Image</b> (Optional)</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
                <hr><br><br>
        
                <h3>Candidate 2</h3>
                <label><b>Name</b></label>
                <input type ="text" name = "oldName[]" value="{{data[1][1]}}" readonly>
                <label><b>New Name</b></label>
                <input type ="text" placeholder ="Optional" name = "newName[]" ><br><br>
                <label><b>NRIC</b></label>
                <input type ="text" name = "oldNRIC[]" value = "{{data[1][0]}}" readonly>
                <label><b>New NRIC</b></label>
                <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="2"><span id = "error"></span><br><br>
                <label><b>Upload New Image</b> (Optional)</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
                <hr><br><br>
        
                <h3>Candidate 3</h3>
                <label><b>Name</b></label>
                <input type ="text" name = "oldName[]" value="{{data[2][1]}}" readonly>
                <label><b>New Name</b></label>
                <input type ="text" placeholder ="Optional" name = "newName[]" ><br><br>
                <label><b>NRIC</b></label>
                <input type ="text" name = "oldNRIC[]"  value = "{{data[2][0]}}" readonly>
                <label><b>New NRIC</b></label>
                <input type ="text" placeholder ="Optional"  name = "newNRIC[]" id="3"><span id = "error"></span><br><br>
                <label><b>Upload New Image</b> (Optional)</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
                <hr><br><br>
        
                <h3>Candidate 4</h3>
                <label><b>Name</b></label>
                <input type ="text" name = "oldName[]" value="{{data[3][1]}}" readonly>
                <label><b>New Name</b></label>
                <input type ="text" placeholder ="Optional" name = "newName[]" ><br><br>
                <label><b>NRIC</b></label>
                <input type ="text" name = "oldNRIC[]" value = "{{data[3][0]}}" readonly>
                <label><b>New NRIC</b></label>
                <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="4"><span id = "error"></span><br><br>
                <label><b>Upload New Image</b> (Optional)</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
                <hr><br><br>
        
                <h3>Candidate 5</h3>
                <label><b>Name</b></label>
                <input type ="text" name = "oldName[]" value="{{data[4][1]}}" readonly>
                <label><b>New Name</b></label>
                <input type ="text" placeholder ="Optional" name = "newName[]" ><br><br>
                <label><b>NRIC</b></label>
                <input type ="text" name = "oldNRIC[]" value = "{{data[4][0]}}" readonly>
                <label><b>New NRIC</b></label>
                <input type ="text" placeholder ="Optional" name = "newNRIC[]" id="5"><span id = "error"></span><br><br>
                <label><b>Upload New Image</b> (Optional)</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" name = "img[]" value = "test1.jfif" /><span>Upload your jpeg/jpg image. Max size 50 MB</span>
                          
                {% endif %} 
            </div>
            <br><br>
            <button class="button" type="submit" value="submit"> Submit </button>  
          </form>
          
        
      

        </div>
          <div class="view-candidate-info-frame16desktopsiteheading">
            <span class="view-candidate-info-text">
              <span>{{party}}</span>
            </span>
            <div class="view-candidate-info-pageitems">
              <span class="view-candidate-info-text02">
                <a href = "{{url_for('UpdatePartyProfile')}}">Update Profile</a>
              </span>
              <span class="view-candidate-info-text04">
                <a href = "{{url_for('CreateDistrictProfile')}}">Update Districts</a>
              </span>
              <span class="view-candidate-info-text06">
                <a href = "{{url_for('PartyViewDistrict')}}">View Candidates</a>
              </span>
              <span class="view-candidate-info-text08"><span>FAQ</span></span>
              <div class="view-candidate-info-frame28cart-icon"></div>
              <button class="view-candidate-info-frame03filled-button">
                <span class="view-candidate-info-text10">
                  <a href="{{ url_for('logOut')}}">Logout</a>
                </span>
              </button>
            </div>
          </div>
          
          <a href = "{{url_for('party')}}">
            <img
              src="/static/public/playground_assets/svg25homeicon5113-gfxa.svg"
              alt="SVG25HomeIcon5113"
              class="view-candidate-info-s-v-g25home-icon"
            />
          </a>
          
          
          
          <div class="view-candidate-info-text26">
            <span class="view-candidate-info-text27">
              <H1>Edit District</H1>
            </span>
          </div>
          
          
      </div>
    </div>
  </body>
</html>
