<html>
<head>
</head>

<body>
    <H1>Choose the district's profile you wish to edit</H1>
    <div style="text-align:center" >
        <form  action="#" method="POST">
            <label><b>Contesting Zone</b></label>
            <select name = "districtName">
                {% for zone in zones %}
                    <option>{{zone}}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit" value="submit"> Submit </button>
        </form>
    </div>
 
</body>
</html>
