<html>
    <head>
        <style>
            
            table,td,th {  border-collapse: collapse; border:1px solid black}
        </style>
    </head>

    <body>   
        <form action="#" method="POST">       
            <table>
                <tr><th colspan="2">New Phone Number</th></tr>
                <tr>
                    <td class="form_td"><label>Phone Number: </label><input onchange="this.style.width = ((this.value.length + 1) * 9) + 'px';" required name="phone_number" id="phone_number" type="number"></td>
                </tr>
                
                <tr><td><button type="submit">submit</button></td></tr>
            </table>
        </form>      
        
    <script>

    </script>
    </body>
</html>