<html>
    <head>
        
        <title>Welcome!</title>
        <style>
            
            table,td,th {  border-collapse: collapse; border:1px solid black}
        </style>
        
    </head>

    <body>
        
        
            <label>input a value: </label><input name="inpt" id="inpt" type="number">
            <h1 id="result"></h1>
            <button id="submit" type="button">submit</button>
        
        
        <script></script>
    
    </body>
    
</html>