<html>
    <head>
        <title>Welcome!</title>
        <style>
            
            table,td,th {  border-collapse: collapse; border:1px solid black}
        </style>
    </head>

    <body>
        <form action= # method="POST">
            
            <table id="form_table">
                <tr><th colspan="4">Welcome {{username}}</th></tr>
                <tr>
                    <td class="form_td"><button type="submit" name="button_type" id="b1" value="b1">Change Address</button></td>
                    <td class="form_td"><button type="submit" name="button_type" id="b2" value="b2">Change Phone Number</button></td>
                    <td class="form_td"><button type="submit" name="button_type" id="b3" value="b3">Vote</button></td>
                    <td class="form_td"><button type="submit" name="button_type" id="b4" value="b4">View Profile Details</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>