<html>
    <head>
        <style>
            
            table,td,th {  border-collapse: collapse; border:1px solid black}
        </style>
    </head>

    <body>
        <form>
            <table id="form_table">
                <tr><th colspan="4">Welcome Voter</th></tr>
                <tr>
                    <td class="form_td"><button id="change_address">Change Address</button></td>
                    <td class="form_td"><button id="change_phone">Change Phone Number</button></td>
                    <td class="form_td"><button id="vote">Votes</button></td>
                    <td class="form_td"><button id="view_profile_details">View Profile Details</button></td>
                </tr>
            </table>
        </form>
    </body>
</html>