<html>
    <head>
        
        <title>Welcome!</title>
        <style>
            
            table,td,th {  border-collapse: collapse; border:1px solid black}
        </style>
        
    </head>

    <body>
        <form action="#" method="POST">
            <label>Select Party: </label>
            <select name="parties" id="parties">
              <option disabled selected value> -- select an option -- </option>
              {% for n in parties %}
              <option id="get_party" name="get_party" value="{{ n[0] }}">{{ n[0] }}</option>
              {% endfor %}
            </select>
            <button button_type="submit" name="submit" id="submit">submit</button>
          </form>
        
        
    
    
    </body>
    <script>
        function getSelectedParty(clicked_id)
          {
            var selected_id = clicked_id
            document.getElementById("get_party").value = selected_id
            console.log(selected_id)
          }

      </script>
</html>