{% extends 'web-voter-homepage.html' %}
    {% block voterUpdatePhoneNumber %}
    <link href="/static/styles/voterUpdatePhoneNumber.css" rel="stylesheet" />
    <style>
            
        table,td,th {  border-collapse: collapse; border:1px solid black}
    </style>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Address</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
               
            <div class="modal-body">      
                <label>Postal Code: </label><input style="border:2px solid black" required name="postalCode" id="postalCode" type="number">
                
                <button class="btn btn-primary" id="submit_button" onclick="findAddress()"><span id="submit_button_text">Find Address</span></button>
                <br>
                <form action="#" method="POST"> 
                    <label>Block/Street Number: </label><input style="border:2px solid black"  onchange="this.style.width = ((this.value.length + 1) * 9) + 'px';" required name="streetName" id="streetName" type="text">
                    <br>
                    <label>Unit Number: </label><input style="border:2px solid black" required name="unitNumber" id="unitNumber" type="text">
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" id="submit_button"><span id="submit_button_text">Save changes</span></button>
            </div>
        </form> 
        </div>
        </div>
    </div>



    {% endblock %}
    {% block script2%}
    <script>
        $(document).ready(function() {
            console.log("window is loaded");
            $("#exampleModal").modal("show");
            $("#submit_button").click(function(event) {
                event.preventDefault();
                
            });
        })
        
        function findAddress() {
            var postalCode = document.getElementById("postalCode").value
            var streetName = document.getElementById("streetName")
            fetch(
                'https://developers.onemap.sg/commonapi/search?searchVal=' +
                postalCode +
                '&returnGeom=Y&getAddrDetails=Y'
            )
            .then((response) => response.json())
            .then((json) => 
                streetName.value = json.results[0].ADDRESS
            );
        }
        function onlyNumberKey( evt ) {
            // Only ASCII character in that range allowed
            var ASCIICode = ( evt.which ) ? evt.which : evt.keyCode
            if ( ASCIICode > 31 && ( ASCIICode < 48 || ASCIICode > 57 ) )
                return false;
            return true;
        }

    </script>

    {% endblock %}
        
