.voter-login-o-t-p-container {
  min-height: 100vh;
}
.voter-login-o-t-p-voter-login-o-t-p {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(183, 10, 19, 1);
}
.voter-login-o-t-p-site-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 84px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.voter-login-o-t-p-frame16desktopsiteheading {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 84px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.voter-login-o-t-p-text {
  top: 26px;
  left: 64px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Black;
  text-align: left;
  font-family: Nunito;
  font-weight: 900;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.voter-login-o-t-p-pageitems {
  top: 20px;
  left: 691px;
  width: 685px;
  display: flex;
  position: absolute;
  align-items: center;
  border-color: transparent;
}
.voter-login-o-t-p-text02 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 48px;
  margin-bottom: 0;
  text-decoration: none;
}
.voter-login-o-t-p-text04 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 48px;
  margin-bottom: 0;
  text-decoration: none;
}
.voter-login-o-t-p-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 48px;
  margin-bottom: 0;
  text-decoration: none;
}
.voter-login-o-t-p-text08 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 48px;
  margin-bottom: 0;
  text-decoration: none;
}
.voter-login-o-t-p-frame28cart-icon {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 48px;
}
.voter-login-o-t-p-frame03filled-button {
  height: 44px;
  display: flex;
  padding: 8px 16px;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(183, 10, 19, 1);
}
.voter-login-o-t-p-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.voter-login-o-t-p-s-v-g31lock-icon {
  top: 29px;
  left: 1228px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.voter-login-o-t-p-rectangle10 {
  top: 176px;
  left: 425px;
  width: 590px;
  height: 728px;
  position: absolute;
  border-color: transparent;
  border-radius: 19px;
}
.voter-login-o-t-p-text12 {
  top: 467px;
  left: 631px;
  color: rgba(0, 0, 0, 1);
  width: 178px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.voter-login-o-t-p-text13 {
  color: rgba(0, 0, 0, 1);
}
.voter-login-o-t-p-text14 {
  text-decoration: NONE;
}
.voter-login-o-t-p-o-t-p-fields {
  top: 327px;
  left: 605.5px;
  width: 229px;
  height: 31px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.voter-login-o-t-p-rectangle13 {
  top: 0px;
  left: 132.5px;
  width: 96px;
  height: 31px;
  position: absolute;
  box-sizing: content-box;
}
.voter-login-o-t-p-s-v-g01minus-icon {
  top: 4px;
  left: 102.5px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.voter-login-o-t-p-rectangle12 {
  top: 0px;
  left: 0px;
  width: 96px;
  height: 31px;
  position: absolute;
  box-sizing: content-box;
}
.voter-login-o-t-p-text16 {
  top: 376px;
  left: 656px;
  color: rgba(0, 0, 0, 1);
  width: 127px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Nunito;
  font-weight: 500;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.voter-login-o-t-p-submit-button {
  top: 402px;
  left: 675px;
  width: 89px;
  height: 44px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.voter-login-o-t-p-frame03filled-button1 {
  top: 0px;
  left: 0px;
  height: 44px;
  display: flex;
  padding: 8px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(183, 10, 19, 1);
}
.voter-login-o-t-p-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Nunito;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
