{% extends 'base.html' %}

{% block title %} Party {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>Party</b> <button type="button" class="btn btn-success float-right"
                    data-toggle="modal" data-target="#mymodal">Add New Party</button> </h2>
                    
                    {% with messages = get_flashed_messages() %}

                    {% if messages %}

                    {% for message in messages %}
                    
                    <div class="alert alert-success alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                        </button>
                        {{ message }}
                    </div>

                    {% endfor %}

                    {% endif %}

                    {% endwith %}
                    <table class="table table-hover table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Manifesto</th>
                            <th>Logo</th>
                            <th>Election Areas</th>
                            <th>Action</th>
                        </tr>
                        {% for row in parties %}
                        <tr>
                            <td>{{row.id}}</td>
                            <td>{{row.title}}</td>
                            <td>{{row.manifesto}}</td>
                            <td>{{row.logo}}</td>
                            <td>
                                <ul>
                                    {% for area in row.participating %}
                                    <li style="list-style: none;">
                                        {{ area.title }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a href="/admin/update_party/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                                <a href="/admin/delete_party/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are you sure about deleting?')">Delete</a>
                            </td>
                        </tr>

                        <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Update Information</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{{url_for('admin.update_party')}}" method="POST">
                                            <div class="form-group">
                                                <label>Title:</label>
                                                <input type="hidden" name="id" value="{{row.id}}">
                                                <input type="text" class="form-control" name="title" value="{{row.title}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Manifesto:</label>
                                                <input type="text" class="form-control" name="manifesto" value="{{row.manifesto}}">
                                            </div>
                                            <div class="form-group">
                                                <label>Logo:</label>
                                                <input type="text" class="form-control" name="logo" value="{{row.logo}}">
                                            </div>
                                            <div class="form-group">
                                                <label for="ea">Election Areas:</label>
                                                    <select class="form-control" name="participating" id="ea" multiple>
                                                        {% for area in election_areas %}
                                                                {% for participating_area in row.participating if area.title == participating_area.title %}
                                                                    <option value="{{area.id}}" selected>{{area.title}}</option>
                                                                {% else %}
                                                                    <option value="{{area.id}}">{{area.title}}</option>
                                                                {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary" type="submit">Update</button>
                                            </div>
            
                                        </form>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </table>
            </div>

            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Party</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('admin.insert_party')}}" method="POST">
                                <div class="form-group">
                                    <label>Title:</label>
                                    <input type="text" class="form-control" name="title" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Manifesto:</label>
                                    <input type="text" class="form-control" name="manifesto" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Logo:</label>
                                    <input type="text" class="form-control" name="logo" required="1">
                                </div>
                                <div class="form-group">
                                    <label for="ea">Election Areas:</label>
                                        <select class="form-control" name="participating" id="ea" multiple>
                                            {% for area in election_areas %}
                                                <option value="{{area.id}}">{{area.title}}</option>
                                            {% endfor %}
                                        </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Add Party</button>
                                </div>

                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}
